body, select, input, textarea {
  color: #272727;
  font-family: ArmitageRegular, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

@font-face {
  font-family: 'ArmitageLight';
  src: url('../fonts/armitage-light.eot');
  src: url('../fonts/armitage-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/armitage-light.woff') format('woff'),
  url('../fonts/armitage-light.ttf') format('truetype'),
  url('../fonts/armitage-light.svg#armitageregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArmitageRegular';
  src: url('../fonts/armitage-regular.eot');
  src: url('../fonts/armitage-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/armitage-regular.woff') format('woff'),
  url('../fonts/armitage-regular.ttf') format('truetype'),
  url('../fonts/armitage-regular.svg#armitageregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArmitageSemibold';
  src: url('../fonts/armitage-semibold.eot');
  src: url('../fonts/armitage-semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/armitage-semibold.woff') format('woff'),
  url('../fonts/armitage-semibold.ttf') format('truetype'),
  url('../fonts/armitage-semibold.svg#armitageregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontawesome-webfont.woff') format('woff'),
  url('../fonts/fontawesome-webfont.ttf') format('truetype'),
  url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Habano';
  src: url('../fonts/habano.eot');
  src: url('../fonts/habano.eot?#iefix') format('embedded-opentype'),
  url('../fonts/habano.woff') format('woff'),
  url('../fonts/habano.ttf') format('truetype'),
  url('../fonts/habano.svg#Habano') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, h6 {
  font-family: ArmitageLight, Helvetica, sans-serif;  
}

h1 {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 46px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 11px;
}

h6 {
  color: #a6a9ab;
  font-family: ArmitageRegular, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 40px;
}

p {
  margin-bottom: 20px;
}

a {
  color: #12a0d3;
  text-decoration: none;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
	max-width: 100%;
	height: auto;
}

figure {
  margin-bottom: 20px;
}

figure:last-child {
  margin: 0;
}

small {
  color: #c6cacd;
  display: block;
  line-height: 16px;
}

label {
  color: #c6cacd;
  display: block;
  cursor: text;
}

label.option {
  display: inline;
}

.date {
  color: #a6a9ab;
  font-size: 10px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

table {
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

table th,
table td {
  border-top: 1px solid #ddd;
  line-height: 20px;
  padding: 10px 12px;
  text-align: left;
  vertical-align: top;
}

form {
  margin: 0 auto;
  width: 300px;
}

.form-item {
  margin-bottom: 15px;
}

input {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

input[type=text],
input[type=password],
input[type=submit] {
  border-radius: 2px;
  width: 280px;
}

input[type=button],
input[type=submit] {
  cursor: pointer;
}

input,
textarea,
select,
submit {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
  vertical-align: baseline;
}

input,
textarea {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type=submit] {
  background-color: #12a0d3;
  border: 1px solid #12a0d3;
  color: #fff;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: inline-block;
  font-family: ArmitageSemibold, Helvetica, sans-serif; 
  line-height: normal;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

input[type=submit]:hover {
  opacity: 0.6;
}

.error {
  border-color: #777;
}

.forgot-password {
  display: block;
  margin-top: 15px;
  text-align: center;
}

.profile {
  text-align: center;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline-block;
  font-family: ArmitageSemibold, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0 6px;
  text-transform: uppercase;
}

nav a {
  color: #c6cacd;
}

nav a:hover {
  color: #8c9397;
  text-decoration: none;
}

header {
  padding: 20px 0;
  text-align: center;
}

header nav {
  margin-top: 20px;
}

article + article {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 20px;
}

header,
section,
footer {
  margin: 0 auto;
  width: 280px;
  overflow: hidden;
}

footer {
  color: #c6cacd;
  font-family: ArmitageSemibold, Helvetica, sans-serif;  
  font-size: 13px;
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
}

#logo {
  background: #12a0d3;
  background-image: linear-gradient(left , #12a0d3 0%, #1aaade 100%);
  background-image: -o-linear-gradient(left , #12a0d3 0%, #1aaade 100%);
  background-image: -moz-linear-gradient(left , #12a0d3 0%, #1aaade 100%);
  background-image: -webkit-linear-gradient(left , #12a0d3 0%, #1aaade 100%);
  background-image: -ms-linear-gradient(left , #12a0d3 0%, #1aaade 100%);
  display: block;
  font-family: Habano, sans-serif;  
  border-radius: 50%;
  color: #fff;
  font-size: 50px;
  line-height: 86px;
  height: 86px;
  margin: 0 auto;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  width: 86px;
}

#logo:hover {
  opacity: 0.5;
  text-decoration: none;
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.tabs li {
  margin: 0;
}

/**
 * 480.
 */
@media only screen and (min-width: 480px) {

  h1 {
    font-size: 46px;
    letter-spacing: -1px;
    line-height: 56px;
  }

  header,
  section,
  footer {
    width: 420px;
  }

}

/**
 * 768.
 */
@media only screen and (min-width: 768px) {

  body {
    margin: 40px 0;
  }

  header {
    padding-bottom: 60px;
  }

  header,
  section,
  footer {
    max-width: 680px;
    padding-left: 70px;
    padding-right: 70px;
    width: auto;
  }

}

/**
 * Font Awesome styles.
 */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
  line-height: .9em;
}

li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  width: 1.875em;
}

li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}

li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}

li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}

.icon-glass:before                { content: "\f000"; }
.icon-search:before               { content: "\f002"; }
.icon-arrow-left:before           { content: "\f060"; }
.icon-arrow-up:before             { content: "\f062"; }
.icon-arrow-down:before           { content: "\f063"; }
.icon-phone:before                { content: "\f095"; }

.node-form {
  width: 100%;
}

